<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>videoURL</key>
		<string>Welcome_Video_IBM-LOGO_720</string>
		<key>videoTitle</key>
		<string>Leap Forward with IBM</string>
		<key>videoSubTitle</key>
		<string>Leaders drive Enterprise Innovations by integrating disconnected innovations and building</string>
		<key>videoTile</key>
		<string>welcome</string>
		<key>titleColor</key>
		<string>#91268f</string>
		<key>pdfURL</key>
		<string>Welcome_Doc_2013_ibm_strategy(2)</string>
		<key>pdfTitle</key>
		<string>The IBM Strategy – What we see shifting</string>
		<key>pdfSubTitle</key>
		<string>IBM is making a new future for our clients, our industry and our company</string>
		<key>img_off</key>
		<string>ic_Welcome-off</string>
		<key>img_on</key>
		<string>ic_Welcome</string>
		<key>identifier</key>
		<string>com.2359media.welcome</string>
		<key>notificationTitle</key>
		<string>Welcome</string>
		<key>notificationSubtitle</key>
		<string>The Future is NOW, Leap Forward with IBM. 
</string>
	</dict>
	<dict>
		<key>videoURL</key>
		<string>C-Suite_Video_Welcome to The Customer Activated Enterprise</string>
		<key>videoTitle</key>
		<string>IBM C-Suite Executive Exchange</string>
		<key>videoSubTitle</key>
		<string>A hub for though leadership resources, networking &amp; enabled business transformation</string>
		<key>videoTile</key>
		<string>csuite</string>
		<key>titleColor</key>
		<string>#00af7b</string>
		<key>pdfURL</key>
		<string>C-Suite_Doc_GBE03572USEN</string>
		<key>pdfTitle</key>
		<string>The Customer-activated Enterprise</string>
		<key>pdfSubTitle</key>
		<string>Insights from the Global C-suite Study</string>
		<key>img_off</key>
		<string>ic_C-suite-off</string>
		<key>img_on</key>
		<string>ic_C-suite</string>
		<key>identifier</key>
		<string>com.2359media.csuite</string>
		<key>notificationTitle</key>
		<string>C-Suite</string>
		<key>notificationSubtitle</key>
		<string>The C-Suite ideas exchange that drives business transformation. </string>
	</dict>
	<dict>
		<key>videoURL</key>
		<string>Watson_Video_What Will You Do With Watson_</string>
		<key>videoTitle</key>
		<string>IBM Watson - A new era of cognitive technology</string>
		<key>videoSubTitle</key>
		<string>This generation of problem solvers is going to learn much faster with IBM Watson.</string>
		<key>videoTile</key>
		<string>watson</string>
		<key>titleColor</key>
		<string>#8cc63e</string>
		<key>pdfURL</key>
		<string>Watson_Doc_An_Inside_Look_at_IBM_Watson_and_How_it_Works</string>
		<key>pdfTitle</key>
		<string>An Inside Look at IBM Watson and How it Works</string>
		<key>pdfSubTitle</key>
		<string>IBM Watson can transform how organizations think, act, and operate</string>
		<key>img_off</key>
		<string>ic_Watson-off</string>
		<key>img_on</key>
		<string>ic_Watson</string>
		<key>identifier</key>
		<string>com.2359media.watson</string>
		<key>notificationTitle</key>
		<string>Watson</string>
		<key>notificationSubtitle</key>
		<string>Watson is built with your business in mind. Say Hello to Watson.</string>
	</dict>
	<dict>
		<key>videoURL</key>
		<string>Cloud_Video_Why deploy private cloud in the hybrid cloud era</string>
		<key>videoTitle</key>
		<string>Future of cloud computing lies in the hybrid space</string>
		<key>videoSubTitle</key>
		<string>Deploy quickly. Manage easily. Innovate extensively.</string>
		<key>videoTile</key>
		<string>cloud</string>
		<key>titleColor</key>
		<string>#0089cf</string>
		<key>pdfURL</key>
		<string>Cloud_Doc_Private Cloud in the Hybrid Cloud Era</string>
		<key>pdfTitle</key>
		<string>Private cloud in the hybrid cloud era</string>
		<key>pdfSubTitle</key>
		<string>The critical choices driving business value and agility</string>
		<key>img_off</key>
		<string>ic_Cloud-off</string>
		<key>img_on</key>
		<string>ic_Cloud</string>
		<key>identifier</key>
		<string>com.2359media.cloud</string>
		<key>notificationTitle</key>
		<string>Cloud</string>
		<key>notificationSubtitle</key>
		<string>Searching for competitive advantage? It’s in the cloud.</string>
	</dict>
	<dict>
		<key>videoURL</key>
		<string>Analytics_Video_IBM Introduces Powerful Analytics for Everyone</string>
		<key>videoTitle</key>
		<string>IBM® Watson™ Analytics</string>
		<key>videoSubTitle</key>
		<string>Puts predictive business analytics in the palm of your hand</string>
		<key>videoTile</key>
		<string>analytics</string>
		<key>titleColor</key>
		<string>#f7931d</string>
		<key>pdfURL</key>
		<string>Analytics_Doc_WatsonAnalyticsSalesDeck_16092014</string>
		<key>pdfTitle</key>
		<string>What is IBM® Watson™ Analytics?</string>
		<key>pdfSubTitle</key>
		<string>Self-service analytics for business users and experts alike</string>
		<key>img_off</key>
		<string>ic_Analytics_off</string>
		<key>img_on</key>
		<string>ic_Analytics</string>
		<key>identifier</key>
		<string>com.2359media.analytics</string>
		<key>notificationTitle</key>
		<string>Analytics</string>
		<key>notificationSubtitle</key>
		<string>Find what matters most to your business with IBM Watson Analytics.</string>
	</dict>
	<dict>
		<key>videoURL</key>
		<string>Mobile_Video_IBM MobileFirst Intro Video</string>
		<key>videoTitle</key>
		<string>IBM MobileFirst Enables Enterprise Mobility</string>
		<key>videoSubTitle</key>
		<string>The industry&apos;s most complete mobile solution portfolio</string>
		<key>videoTile</key>
		<string>mobile</string>
		<key>titleColor</key>
		<string>#fec10d</string>
		<key>pdfURL</key>
		<string>Mobile_Doc_The Individual Enterprise - How mobility redefines business [GBE03614USEN]</string>
		<key>pdfTitle</key>
		<string>IBM IBV Study - The Individual Enterprise</string>
		<key>pdfSubTitle</key>
		<string>How mobility redefines business</string>
		<key>img_off</key>
		<string>ic_Mobile-off</string>
		<key>img_on</key>
		<string>ic_Mobile</string>
		<key>identifier</key>
		<string>com.2359media.mobile</string>
		<key>notificationTitle</key>
		<string>Mobile</string>
		<key>notificationSubtitle</key>
		<string>Put your business in motion. Become a mobile enterprise.</string>
	</dict>
	<dict>
		<key>videoURL</key>
		<string>Social_Video_IBM Connections Mobile_ the power of your business in the palm of your hand</string>
		<key>videoTitle</key>
		<string>IBM Connections Mobile</string>
		<key>videoSubTitle</key>
		<string>The power of your business in the palm of your hand</string>
		<key>videoTile</key>
		<string>social</string>
		<key>titleColor</key>
		<string>#ec008b</string>
		<key>pdfURL</key>
		<string>Social_Doc_Applying Social Business-Repeatable Patterns provide return (2014-Jan)</string>
		<key>pdfTitle</key>
		<string>Applying social business</string>
		<key>pdfSubTitle</key>
		<string>The repeatable patterns that improve business processes and provide return</string>
		<key>img_off</key>
		<string>ic_Social-off</string>
		<key>img_on</key>
		<string>ic_Social</string>
		<key>identifier</key>
		<string>com.2359media.social</string>
		<key>notificationTitle</key>
		<string>Social</string>
		<key>notificationSubtitle</key>
		<string>Amplify the value of human connections. See what social can do for you. </string>
	</dict>
	<dict>
		<key>videoURL</key>
		<string>Security_Video_IBM Security. Intelligence. Integration. Expertise.</string>
		<key>videoTitle</key>
		<string>IBM Security. Intelligence. Integration. Expertise.</string>
		<key>videoSubTitle</key>
		<string>Detect, predict and remediate breaches that point products might miss</string>
		<key>videoTile</key>
		<string>security</string>
		<key>titleColor</key>
		<string>#1fbdc6</string>
		<key>pdfURL</key>
		<string>Security_Doc_WGL03057USEN</string>
		<key>pdfTitle</key>
		<string>IBM X-Force Threat Intelligence Quarterly, 3Q 2014</string>
		<key>pdfSubTitle</key>
		<string>Mitigation strategies against vulnerability such as Heartbleed</string>
		<key>img_off</key>
		<string>ic_security-off</string>
		<key>img_on</key>
		<string>ic_security</string>
		<key>identifier</key>
		<string>com.2359media.security</string>
		<key>notificationTitle</key>
		<string>Security</string>
		<key>notificationSubtitle</key>
		<string>It’s a new IT world. How secure are you? See IBM Security in Action.</string>
	</dict>
	<dict>
		<key>videoURL</key>
		<string>Infra_Video_IBM - IT infrastructure choices matter because business outcomes matter</string>
		<key>videoTitle</key>
		<string>IT infrastructure choices matter</string>
		<key>videoSubTitle</key>
		<string>Deliver services more rapidly and efficiently, despite shrinking budgets.</string>
		<key>videoTile</key>
		<string>infra</string>
		<key>titleColor</key>
		<string>#005aaa</string>
		<key>pdfURL</key>
		<string>Infra_Doc_The IT Infrastructure Conversation - Exec Summary</string>
		<key>pdfTitle</key>
		<string>IBM IBV Study - The IT infrastructure conversation</string>
		<key>pdfSubTitle</key>
		<string>New content, new participants, new tone</string>
		<key>img_off</key>
		<string>ic_Infrastructure-off</string>
		<key>img_on</key>
		<string>ic_Infrastructure</string>
		<key>identifier</key>
		<string>com.2359media.infra</string>
		<key>notificationTitle</key>
		<string>Infrastructure</string>
		<key>notificationSubtitle</key>
		<string>Choosing the right IT infrastructure matters because business outcomes matter. </string>
	</dict>
</array>
</plist>
